services:
    traefik:
        container_name: traefik
        image: traefik:3.6
        command:
            # Enable the dashboard and API routes on port 8080
            - "--api.insecure=true"

            # Watch Docker containers for Traefik labels and configure routes / services accordingly
            - "--providers.docker=true"

            # Don't expose Docker containers by default. Instead, require containers to opt in
            # via the `traefik.enable=true` label
            - "--providers.docker.exposedbydefault=false"

            # Accept incoming traffic on ports 80 (HTTP) & 443 (HTTPS)
            - "--entrypoints.web.address=:80"
            - "--entrypoints.websecure.address=:443"

            # Redirect HTTP to HTTPs
            - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
            - "--entrypoints.web.http.redirections.entrypoint.scheme=https"

            # Load configuration from YAML files in the /etc/traefik/dynamic/dev folder
            # We'll add info here about local SSL certificates generated via mkcert
            - "--providers.file.directory=/etc/traefik/dynamic/dev"

            # Reload Traefik when the YAML files from /etc/traefik/dynamic/dev are edited
            - "--providers.file.watch=true"
        ports:
            - "80:80"
            - "443:443"
            - "8080:8080"
        volumes:
            # Mounts your host machine's Docker socket to the Traefik container so Traefik
            # can read Docker labels and do its auto-routing magic.
            - /var/run/docker.sock:/var/run/docker.sock

            # SSL certificates generated by mkcert will be stored here
            - ./certs:/certs

            # Contains your dynamic Traefik configuration
            - ./dynamic:/etc/traefik/dynamic/dev
        networks:
            - traefik

networks:
    traefik:
        external: true
